.jumbotron {
	background: url("");
	background-size: 100%;
	color: #ece4e4;
	opacity: 10;
}

body {
	background: url("https://static.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg");
	background-size: 100%;
	opacity: 1%;
}

h4 {
	color: green;
}